<div class="mb-5">
  <div class="header-listagem">
    <h1>Locação de Carros</h1>
    <p>Abaixo a lista de carros locados que deverão ser devolvidos.</p>
  </div>
  <div class="card">
    <div class="card-header">
      Lista de carro
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Modelo</th>
            <th>Código Entrega</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listaCarros">
            <th>{{ data.id }}</th>
            <td>{{ data.modelo }}</td>
            <td>{{ data.codEntrega }}</td>
            <td [ngClass]="{'text-success': data.status === 'Devolvido', 'text-danger': data.status === 'Alugado'}">{{ data.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-header">
      Carros que não retornaram ao pátio
      <button class="btn btn-danger btn-sm float-right" (click)="rastrearCarros()">Rastrear Carros</button>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Modelo</th>
            <th>Código Entrega</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listaCarrosRastreados">
            <th>{{ data.id }}</th>
            <td>{{ data.modelo }}</td>
            <td>{{ data.codEntrega }}</td>
            <td [ngClass]="{'text-success': data.status === 'Devolvido', 'text-danger': data.status === 'Alugado'}">{{ data.status }}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>